header {
    width: 100%;
}

#menu {
    position: fixed;
    width: 100%;
}

#menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0;
    height: 70px;
    list-style: none;
    background: linear-gradient(to bottom, rgba(28,5,58,1) 0%, rgba(123,89,168,1) 100%);
}

.menu__element {
    text-align: center;
    padding: 2px;
}

.menu__link {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #fffff8;
    border-radius: 5px;
}

.menu__link--active {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu__link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    padding-top: 70px;
}

.section {
    display: flex;
    padding: 50px;
    height: 75vh;
}

.section-background-odd {
    background: linear-gradient(to bottom, #e96443, rgba(123,89,168,1));
}

.section-background-even {
    background: linear-gradient(to top, #e96443, rgba(123,89,168,1));
}

.section__shade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: #fffff8;
}

.section__shade--active {
    box-shadow: 0 0 15px 10px rgba(255,255,255,0.75);
}

.section__header {
    width: 75%;
    text-align: center;
    margin: 0;
}

.section__content {
    width: 75%;
}


.section__text {
    width: 50%;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .section__shade {
        width: 100%;
    }

    .section__header {
        font-size: 1.5rem;
    }
}

@media (max-width: 492px) {
    #menu__list {
        height: 110px;
    }

    main {
        padding-top: 110px;
    }
}